html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../images/login_bg.jpg) no-repeat center;
  background-size: cover;
}
/* 实现登录注册模块样式 */
.loginAndReg {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loginAndReg .title_box {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
.loginAndReg .login_box .layui-form {
  padding: 0 30px;
}
.loginAndReg .login_box .layui-form .layui-form-item {
  position: relative;
}
.loginAndReg .login_box .layui-form .layui-form-item i {
  position: absolute;
  left: 10px;
  top: 10px;
}
.loginAndReg .login_box .layui-form .layui-form-item .layui-input {
  padding: 0 32px;
}
.loginAndReg .login_box .layui-form .links {
  display: flex;
  justify-content: flex-end;
}
.loginAndReg .reg_box {
  display: none;
}
.loginAndReg .reg_box .layui-form {
  padding: 0 30px;
}
.loginAndReg .reg_box .layui-form .layui-form-item {
  position: relative;
}
.loginAndReg .reg_box .layui-form .layui-form-item i {
  position: absolute;
  left: 10px;
  top: 10px;
}
.loginAndReg .reg_box .layui-form .layui-form-item .layui-input {
  padding: 0 32px;
}
.loginAndReg .reg_box .layui-form .links {
  display: flex;
  justify-content: flex-end;
}
